{{define "content"}}

<h1>One-time links</h1>
<p>Securely send a message that can be viewed exactly one time.</p>

<form>
    <label for='message'>Your secure message</label>
    <textarea name='message'></textarea>
    <input type='submit' />
</form>

{{end}}